body {
    padding-top: 56px;
}

canvas {
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}

.navbar, .modal-header{
    background-color: #10505b;
}

.menubar{
    border-bottom: 1px solid lightgray;
}
